@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
    background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1637994886/Spring-React-Coronavirus/black-red-rona_jpqnug.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}